<form action="/session" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
 </div>

  <button type="submit">Login</button>
</form>
