<form action="/login" method="post">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
 </div>

  <button type="submit">Check Password Security</button>
</form>
