<h1><%= @project.name %></h1>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= render "time_entry", entry: entry, project: @project %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new entry", new_project_time_entry_path %>
