<h2>I am an index page</h2>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project_name(project), project_path(project) %>
      |
      <%= link_to "entries", project_time_entries_path(project) %>
    </li>
  <% end %>
</ul>
