<!DOCTYPE html>
<html>

  <head>
    <title>Movies</title>
    <meta charset="UTF-8">

    <!-- include your CSS stylesheets or your .js scripts in the layout file's head section -->
    <link rel="stylesheet" type="text/css" href="movies.css" />
  </head>

  <body>
    <!--
      # yield is where the views are rendered
      # so everything around yield will be the same for every view
    -->
    <%= yield %>
  </body>
</html>
