<h1>Add</h1>

Add two numbers:

<form action="/calculate_add" method="POST">
  <input type="number" placeholder="5" name="summand_1">
  +
  <input type="number" placeholder="3" name="summand_2">

  <button type="submit">Calculate</button>
</form>
