<h1> Iteration 2:</h1>

<a href="/calculator">Online Calculator</a>

<h3>for Iteration 1:</h3>

<p>
  <a href="/add">Addition (yay!)</a>
</p>
<p>
  <a href="/multiply">Multiplication</a>
</p>
<p>
  <a href="/subtract">Subtraction (boooh!)</a>
</p>
<p>
  <a href="/divide">Division</a>
</p>
