<!-- views/add.erb -->
<!doctype html>
<html>
  <head>
    <title><%= @title %> | Online Calculator</title>
  </head>
  <body>
    <!-- Your views are rendered here: -->
    <%= yield %>
  </body>
</html>
