<h1>Multiply</h1>

Multiply two numbers:

<form action="/calculate_multiply" method="POST">
  <input type="number" placeholder="5" name="factor_1">
  *
  <input type="number" placeholder="3" name="factor_2">

  <button type="submit">Calculate</button>
</form>
